body {
    overflow-x: hidden;
    background-image: url("../img/fond.PNG");
    background-size: cover;
}
a:hover {
    text-decoration: none;
}

#mainIndex {
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    background-color: #191F26;
    z-index: -1;
    transition: 1s;
    box-shadow: 0px 0px 50px #111111;
}
@media screen and (max-width: 1100px) {
    #mainIndex {
        left: 12.5%;
        right: 12.5%;
    }
}
@media screen and (max-width: 750px) {
    #mainIndex {
        left: 5%;
        right: 5%;
    }
}

.porte {
    position: fixed;
    background-color: #191F26;
    top: 0;
    bottom: 0;
    transition: 1s;
    z-index: -2;
    width: 0px;
}
#porteGauche {
    left: 0;
}
#porteDroite {
    right: 0;
}

#contenu {
    margin: auto;
    margin-top: 130px;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

h3 {
    margin-top: 0px;
}

.boxJeux {
    position: relative;
    height: 150px;
    width: 90%;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 50px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 10px #111111;
}
.boxJeux:hover {
    height: 175px;
    margin-bottom: 25px;
}
.fondBox {
    position: absolute;
    filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.nomBox {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.texteBox {
    margin: auto;
    color: #111111;
    font-weight: 600;
    font-size: 35px;
    padding: 10px;
    background-color: #17ba9f91;
}

#boxTetris {
    background-image: url("../img/index/tetris.webp");
}
#boxNaruto {
    background-image: url("../img/index/nature.jpg");
}
#boxLoader {
    background-image: url("../img/loader.gif");
}


#texteProvisoire{
    width: 80%;
    margin: auto;
    margin-top: 130px;
    text-align: center;
    font-size: 25px;
}

#fondAnime{
    margin: auto;
    margin-right: 10px;
    font-weight: bolder;
}

#switch{
    margin: auto;
    margin-right: 20px;
    margin-left: 0px;
}

/* --------------------------- */
/*           SWITCH            */
/* --------------------------- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #17BA9E;
    -webkit-transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 29px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: /* #2196F3;*/ #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px);
}