#mainNaruto {
    display: flex;
}

#leJeu {
    border: solid 10px whitesmoke;
    height: 700px;
    width: 95%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#player {
    top: 600px;
    left: 150px;
    height: 150px;
}

.mob {
    height: 75px;
}

.sprite {
    position: absolute;
    image-rendering: pixelated;
    transform: translate(-50%, -100%);
    width: auto;
}