#mainNaruto {
    display: flex;
}

#leJeu {
    border: solid 10px whitesmoke;
    height: 700px;
    width: 95%;
    margin: auto;
    position: relative;
}

#player {
    top: 600px;
    left: 150px;
    width: 150px;
}

.sprit {
    position: absolute;
    image-rendering: pixelated;
    transform: translate(-50%, -100%);
    height: auto;
}