#mainSaica {
    display: flex;
}

#theBox {
    width: 1000px;
    min-width: 1000px;
    height: 700px;
    background-image: url("../img/saica/basement.png");
    background-size: 1000px 700px;
    /*border: solid 20px #18191C;*/
    margin: auto;
    border-radius: 25px;
    position: relative;
}

.menu {
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    background-image: url("../img/placeholder.png");
    background-size: contain;
}

.center {
    text-align: center;
}

/* ---------------------------- */
/*        GAME ELEMENTS         */
/* ---------------------------- */

.sprit {
    position: absolute;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    transform: translate(-50%, -100%);
    width: 60px;
    height: auto;
}

#player {
    z-index: 1;
}
@keyframes hit {
    0%, 15%, 20%, 30%, 60%, 100% {
        filter: invert(0);
    }
    10%, 25%, 45% {
        filter: invert(1);
    }
}

#mush {
    top: 350px;
    left: 350px;
    z-index: 350;
}