
body {
    background-color:  #2f3136;
    color:  #c9c9c9;
    font-family: sans-serif;
    margin-right: 10px;
}
textarea:focus, input:focus, button:focus {
    outline: none;
}

a,a:hover,a:visited {
    color: #c9c9c9;
    text-decoration: none;
}
a:hover,a:visited {
    text-decoration: underline;
}

header {
    background-color: #202225;
    margin: -10px;
    margin-bottom: 10px;
    display: flex;
    height: 80px;
}

#linklogo {
    margin: auto;
    margin-right: 10px;
}
#logo {
    height: 60px;
    width: auto;
    border: solid 1px black;
    border-radius: 20px;
}

footer {
    display: flex;
}
#copyright {
    color: #626770;
    margin: auto;
    margin-top: 30px;
    font-weight: bolder;
}

/* ---------------------------------------------- */
/*                  SCROLLBAR                     */ 
/* ---------------------------------------------- */ 

::-webkit-scrollbar { width: 10px; height: 10px; }

/* Track */
::-webkit-scrollbar-track { background: var(--dark); }

/* Handle */
::-webkit-scrollbar-thumb { background: #888; border-radius: 1rem;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }