#mainTESTTEST {
    color: #c9c9c9;
    display: flex;
}

#theBox {
    width: 1000px;
    height: 700px;
    background-color: #c9c9c9;
    border: solid 5px black;
    margin: auto;
    border-radius: 5px;
    position: relative;
}

@keyframes hit {
    0%, 15%, 20%, 30%, 60%, 100% {
        filter: invert(0);
    }
    10%, 25%, 45% {
        filter: invert(1);
    }
}

/* ---------------------------- */
/*        GAME ELEMENTS         */
/* ---------------------------- */

.sprit {
    position: absolute;
    image-rendering: pixelated;
    transform: translate(-50%, -100%);
    width: 60px;
    height: auto;
}

#player {
    z-index: 1;
}

#mush {
    top: 350px;
    left: 350px;
    z-index: 350;
}