form {
    display: flex;
    flex-direction: column;
}


form > * {
    width: 90%;
    margin: 2px auto;
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
    height: 40vh;
}

label {
    white-space: nowrap;
    margin-right: 5px;
}

input[type="text"] {
    width: 100%;
}

main {
    background-color: #111;
    padding: 20px;
}